<div
  class="py-4 border-dashed border-b-2 border-t-2 border-gray-200"
  style="z-index: 999"
>
  <div class="w-full py-16 px-5 broken-border-bottom">
    <div
      class="max-w-[1700px] mx-auto gap-4 grid md:grid-cols-2 md:gap-6 h-[650px]"
    >
      <diV class="pr-3 flex items-center justify-center h-[650px] relative">
        <img
          class="object-cover w-full h-full"
          src="assets/left-banner-image.jpg"
          alt=""
        />
        <div class="absolute z-10 px-6 py-4 left-12 top-50">
          <h1 class="title text-white font-extrabold font-serif">
            We Are Hexashop
          </h1>
          <p class="text-white pt-6">
            Awesome, clean and simple product for your store. Lorem ipsum dolor
          </p>
          <button
            class="border mt-6 py-3 px-7 text-sm text-white hover:bg-slate-200 hover:text-black border-white"
          >
            Purchase Now!
          </button>
        </div>
      </diV>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-7 pl-4 h-[650px]">
        <div class="relative group">
          <img
            class="object-cover w-full h-full"
            src="assets/baner-right-image-01.jpg"
            alt=""
          />
          <div
            class="absolute lg:w-[250px] px-2 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          >
            <h1
              class="text-white font-bold text-center text-3xl tracking-wider"
            >
              Women
            </h1>
            <p class="text-white text-center text-lg mt-4">
              Best Clothes For Women
            </p>
          </div>
          <div
            class="w-[250px] h-[280px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          >
            <div class="max-w-[330px] h-full bg-black mx-auto py-9">
              <h1
                class="text-white font-bold text-center text-3xl tracking-wider"
              >
                Women
              </h1>
              <p class="text-white mt-3 text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa
                labore
              </p>
              <button
                class="border mt-6 py-3 px-7 hover:bg-gray-200 hover:text-black text-sm text-white mx-auto block"
              >
                Discover More
              </button>
            </div>
          </div>
        </div>
        <div class="relative group">
          <img
            class="object-cover w-full h-full"
            src="assets/baner-right-image-02.jpg"
            alt=""
          />
          <div
            class="absolute lg:w-[250px] px-2 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          >
            <h1
              class="text-white font-bold text-center text-3xl tracking-wider"
            >
              Men
            </h1>
            <p class="text-white text-center text-lg mt-4">
              Best Clothes For Men's
            </p>
          </div>
          <div
            class="w-[250px] h-[280px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          >
            <div class="max-w-[330px] h-full bg-black mx-auto py-9">
              <h1
                class="text-white font-bold text-center text-3xl tracking-wider"
              >
                Men's
              </h1>
              <p class="text-white mt-3 text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa
                labore
              </p>
              <button
                class="border mt-6 py-3 px-7 hover:bg-gray-200 hover:text-black text-sm text-white mx-auto block"
              >
                Discover More
              </button>
            </div>
          </div>
        </div>
        <div class="relative group">
          <img
            class="object-cover w-full h-full"
            src="assets/baner-right-image-03.jpg"
            alt=""
          />
          <div
            class="absolute lg:w-[250px] px-2 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          >
            <h1
              class="text-white font-bold text-center text-3xl tracking-wider"
            >
              Kid's
            </h1>
            <p class="text-white text-center text-lg mt-4">
              Best Clothes For Kid's
            </p>
          </div>
          <div
            class="w-[250px] h-[280px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          >
            <div class="max-w-[330px] h-full bg-black mx-auto py-9">
              <h1
                class="text-white font-bold text-center text-3xl tracking-wider"
              >
                Kid's
              </h1>
              <p class="text-white mt-3 text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa
                labore
              </p>
              <button
                class="border mt-6 py-3 px-7 hover:bg-gray-200 hover:text-black text-sm text-white mx-auto block"
              >
                Discover More
              </button>
            </div>
          </div>
        </div>
        <div class="relative group">
          <img
            class="object-cover w-full h-full"
            src="assets/baner-right-image-04.jpg"
            alt=""
          />
          <div
            class="absolute lg:w-[250px] px-2 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          >
            <h1
              class="text-white font-bold text-center text-3xl tracking-wider"
            >
              Accessories
            </h1>
            <p class="text-white text-center text-lg mt-4">
              Best Accessories for Personal Use
            </p>
          </div>
          <div
            class="w-[250px] h-[280px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          >
            <div class="max-w-[330px] h-full bg-black mx-auto py-9">
              <h1
                class="text-white font-bold text-center text-3xl tracking-wider"
              >
                Accessories
              </h1>
              <p class="text-white mt-3 text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa
                labore
              </p>
              <button
                class="border mt-6 py-3 px-7 hover:bg-gray-200 hover:text-black text-sm text-white mx-auto block"
              >
                Discover More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-full py-20 px-6 broken-border-bottom">
  <div class="max-w-[1200px] h-fit mx-auto">
    <div>
      <h1 class="text-4xl font-bold tracking-widest">Men's Latest</h1>
      <p class="text-gray-400">
        Details to details is what makes Hexashop different from the other
        themes.
      </p>
    </div>
    <div class="w-full h-fit flex items-center justify-between my-6">
      <button class="border py-2 px-4 rounded-md" (click)="prevSlide()">Prev</button>
      <div class="w-full max-w-[1200px] mx-4 h-fit flex items-center justify-between gap-4">
        <ng-container *ngFor="let slide of slides; let i = index">
          <div *ngIf="i === currentIndex || i === currentIndex - 1 || i === currentIndex + 1"
               [@slideInOut]="i === currentIndex ? 'in' : 'out'"
               class="w-fit h-fit">
            <img class="object-cover w-[300px] h-[400px]" [src]="slide.image" alt="" />
            <div class="pt-5 flex text-center justify-between">
              <div>
                <h1 class="font-bold text-2xl">{{ slide.caption }}</h1>
                <p class="text-gray-400 text-xl text-left">{{ slide.price }}</p>
              </div>
              <div>
                <mat-icon class="text-lg" aria-hidden="false" fontIcon="star"></mat-icon>
                <!-- Repeat the star icon based on the rating -->
                <mat-icon
                  *ngFor="let star of [].constructor(slide.rating); let j = index"
                  class="text-lg"
                  aria-hidden="false"
                  fontIcon="star"
                ></mat-icon>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <button class="border py-2 px-4 rounded-md" (click)="nextSlide()">Next</button>
    </div>
    
  </div>
</div>
